
    .box-con{
        width: 100%;
        color: $myblue;
        margin-top: 20px;
       @include between();


        .box{
            width: 30%;
            img{
                width: 100%;
            }
            h2{
                &:hover{
                    color: $mypink;
                }
            }
            a{
                text-decoration: none;
                color: $myblue;
                &:hover{
                    color: $mypink;
                }
    
            }
        }
}

    
